@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-OpenSans text-black-900;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* Toggle B */
input:checked {
	& ~ .dot {
		transform: translateX(150%);
	}

	& ~ .background {
		@apply bg-primary;
	}
}
